<!doctype html>
<html>
  <head>
    <title>getting started</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/htmx.org@1.9.6"></script>
    <link rel="stylesheet" href="https://early.webawesome.com/webawesome@3.0.0-alpha.9/dist/styles/webawesome.css" />
    <link rel="stylesheet" href="https://early.webawesome.com/webawesome@3.0.0-alpha.9/dist/styles/themes/premium.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
    <link rel="stylesheet" href="/style.css" />
    <script type="module" src="https://early.webawesome.com/webawesome@3.0.0-alpha.9/dist/webawesome.loader.js"></script>
    <script type="module" src="/script.js"></script>
    <script>hljs.highlightAll();</script>
  </head>
  <body>
    <!-- SIDE BAR -->
    <div class="sidebar-overlay">
    </div>
    <div class="sidebar">
      <div class="sidebar-content">
        <div class="top">
          <span class="close-sidebar wa-body-s">
            <wa-icon name="circle-xmark" class="close" aria-label="Close menu"></wa-icon>
            <span>Close</span>
          </span>
          <a class="title"
            href="/index"
            hx-get="/index.frag"
            hx-target="#article-content"
            hx-push-url="/"
            hx-indicator="#loading-indicator"
          >
            Auteur
            <span class="version">0.0.12</span>
          </a>
          
          <wa-tree>
            
              
            <wa-tree-item>
              
                <a
                  href="///getting-started"
                  hx-get="///getting-started.frag"
                  hx-target="#article-content"
                  hx-push-url="///getting-started"
                  hx-indicator="#loading-indicator"
                >getting started</a>
              
            </wa-tree-item>
          
            
              
            <wa-tree-item>
              
                <a
                  href="///configuration"
                  hx-get="///configuration.frag"
                  hx-target="#article-content"
                  hx-push-url="///configuration"
                  hx-indicator="#loading-indicator"
                >configuration</a>
              
            </wa-tree-item>
          
            
            
              <wa-tree-item>
                
                  <wa-icon style="font-size: 0.7em; margin-right: 0.8em;" name="link"></wa-icon>
                
                <a href="https://github.com/patrixr/auteur">Github</a>
              </wa-tree-item>
            
          </wa-tree>
        </div>
        <div class="bottom">
          <wa-switch id="theme-toggle"><wa-icon name="lightbulb"></wa-icon></wa-switch>
        </div>
      </div>
    </div>

    <!-- MAIN CONTENT -->
    <div class="main-content">
      <div class="nav-bar">
        <wa-icon name="bars" class="hamburger-menu" aria-label="Toggle menu"></wa-icon>
      </div>
      <div class="article">
        <main class="container">
          <article id="article-content">
            <h1>Getting Started</h1>
<p>Running Auteur can be done via the go command line tool, it is as simple as running:</p>
<pre><code class="language-sh">go run github.com/patrixr/auteur
</code></pre>
<h2>Markown Pages</h2>
<p>Auteur supports markdown pages, which can be used to generate static content as you would a traditional static site generator.</p>
<p>Simply add markdown files to the directory you are running Auteur from, and they will be included in the generated website.</p>
<p>Example file structure:</p>
<pre><code>docs/
  index.md
  about.md
  contact.md
</code></pre>
<h2>Writing Comments</h2>
<p>To register a comment as a page, a comment should contain an <code>@auteur</code> tag to indicate that it should be included in the generated website, and it should end with an <code>@end</code> tag to indicate the end of the content.</p>
<p>Example:</p>
<pre><code class="language-go">package main

import &quot;fmt&quot;

// @auteur
// # Welcome to Auteur
// This is a sample page
// @end
func main() {
	fmt.Println(&quot;Hello, World!&quot;)
}
</code></pre>
<h2>Frontmatter</h2>
<p>Auteur also supports frontmatter in the form of a YAML object at the beginning of a comment block.
This allows to control:</p>
<ul>
<li>The title of the page</li>
<li>The order in which the content appears</li>
<li>The path to the page</li>
<li>Whether the page should be ignored or not</li>
</ul>
<p>Example:</p>
<pre><code class="language-go">package main

import &quot;fmt&quot;

// @auteur
// ---
// title: Welcome to Auteur
// order: 1
// path: /welcome
// ---
//
// # Hello
// This is a sample page
// @end

func main() {
	fmt.Println(&quot;Hello, World!&quot;)
}
</code></pre>

          </article>
        </main></div>
    </div>
  </body>
  <!-- <body>
    <button class="hamburger-menu" aria-label="Toggle menu">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <line x1="3" y1="12" x2="21" y2="12"></line>
        <line x1="3" y1="6" x2="21" y2="6"></line>
        <line x1="3" y1="18" x2="21" y2="18"></line>
      </svg>
    </button>

    <div class="sidebar-overlay"></div>

    <button id="theme-toggle">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="sun-icon"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <circle cx="12" cy="12" r="5" />
        <line x1="12" y1="1" x2="12" y2="3" />
        <line x1="12" y1="21" x2="12" y2="23" />
        <line x1="4.22" y1="4.22" x2="5.64" y2="5.64" />
        <line x1="18.36" y1="18.36" x2="19.78" y2="19.78" />
        <line x1="1" y1="12" x2="3" y2="12" />
        <line x1="21" y1="12" x2="23" y2="12" />
        <line x1="4.22" y1="19.78" x2="5.64" y2="18.36" />
        <line x1="18.36" y1="5.64" x2="19.78" y2="4.22" />
      </svg>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="moon-icon"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        style="display: none"
      >
        <path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z" />
      </svg>
    </button>

    <div id="loading-indicator" class="htmx-indicator">Loading...</div>

    <div class="sidebar">
      <wa-tree>
        
          <wa-tree-item>
            getting started
            
              <a
                href="/getting-started"
                hx-get="/getting-started"
                hx-target="#main-content"
                hx-push-url="true"
                hx-indicator="#loading-indicator"
              >getting started</a>
            
          </wa-tree-item>
        
          <wa-tree-item>
            configuration
            
              <a
                href="/configuration"
                hx-get="/configuration"
                hx-target="#main-content"
                hx-push-url="true"
                hx-indicator="#loading-indicator"
              >configuration</a>
            
          </wa-tree-item>
        
      </wa-tree>
    </div>

    <div class="main-content">
      <main class="container">
        <article id="main-content" class="article">
          <h1>Getting Started</h1>
<p>Running Auteur can be done via the go command line tool, it is as simple as running:</p>
<pre><code class="language-sh">go run github.com/patrixr/auteur
</code></pre>
<h2>Markown Pages</h2>
<p>Auteur supports markdown pages, which can be used to generate static content as you would a traditional static site generator.</p>
<p>Simply add markdown files to the directory you are running Auteur from, and they will be included in the generated website.</p>
<p>Example file structure:</p>
<pre><code>docs/
  index.md
  about.md
  contact.md
</code></pre>
<h2>Writing Comments</h2>
<p>To register a comment as a page, a comment should contain an <code>@auteur</code> tag to indicate that it should be included in the generated website, and it should end with an <code>@end</code> tag to indicate the end of the content.</p>
<p>Example:</p>
<pre><code class="language-go">package main

import &quot;fmt&quot;

// @auteur
// # Welcome to Auteur
// This is a sample page
// @end
func main() {
	fmt.Println(&quot;Hello, World!&quot;)
}
</code></pre>
<h2>Frontmatter</h2>
<p>Auteur also supports frontmatter in the form of a YAML object at the beginning of a comment block.
This allows to control:</p>
<ul>
<li>The title of the page</li>
<li>The order in which the content appears</li>
<li>The path to the page</li>
<li>Whether the page should be ignored or not</li>
</ul>
<p>Example:</p>
<pre><code class="language-go">package main

import &quot;fmt&quot;

// @auteur
// ---
// title: Welcome to Auteur
// order: 1
// path: /welcome
// ---
//
// # Hello
// This is a sample page
// @end

func main() {
	fmt.Println(&quot;Hello, World!&quot;)
}
</code></pre>

        </article>
      </main>
    </div>

    <script src="script.js"></script>
  </body> -->
</html>
