<!doctype html>
<html>
  <head>
    <title>Auteur</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/htmx.org@1.9.6"></script>
    <link rel="stylesheet" href="https://early.webawesome.com/webawesome@3.0.0-alpha.9/dist/styles/webawesome.css" />
    <link rel="stylesheet" href="https://early.webawesome.com/webawesome@3.0.0-alpha.9/dist/styles/themes/premium.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
    <link rel="stylesheet" href="/style.css" />
    <script type="module" src="https://early.webawesome.com/webawesome@3.0.0-alpha.9/dist/webawesome.loader.js"></script>
    <script type="module" src="/script.js"></script>
    <script>hljs.highlightAll();</script>
  </head>
  <body>
    <!-- SIDE BAR -->
    <div class="sidebar-overlay">
    </div>
    <div class="sidebar">
      <div class="sidebar-content">
        <div class="top">
          <span class="close-sidebar wa-body-s">
            <wa-icon name="circle-xmark" class="close" aria-label="Close menu"></wa-icon>
            <span>Close</span>
          </span>
          <a class="title"
            href="index"
            hx-get="index.frag"
            hx-target="#article-content"
            hx-push-url="/"
            hx-indicator="#loading-indicator"
          >
            Auteur
            <span class="version">0.0.17</span>
          </a>
          
          <wa-tree>
            
              
            <wa-tree-item>
              
                <a
                  href="/getting-started"
                  hx-get="/getting-started.frag"
                  hx-target="#article-content"
                  hx-push-url="/getting-started"
                  hx-indicator="#loading-indicator"
                >getting started</a>
              
            </wa-tree-item>
          
            
              
            <wa-tree-item>
              
                <a
                  href="/configuration"
                  hx-get="/configuration.frag"
                  hx-target="#article-content"
                  hx-push-url="/configuration"
                  hx-indicator="#loading-indicator"
                >configuration</a>
              
            </wa-tree-item>
          
            
              
            <wa-tree-item>
              
                <a
                  href="/supported-languages"
                  hx-get="/supported-languages.frag"
                  hx-target="#article-content"
                  hx-push-url="/supported-languages"
                  hx-indicator="#loading-indicator"
                >supported languages</a>
              
            </wa-tree-item>
          
            
            
              <wa-tree-item>
                
                  <wa-icon style="font-size: 0.7em; margin-right: 0.8em;" name="link"></wa-icon>
                
                <a href="https://github.com/patrixr/auteur">Github</a>
              </wa-tree-item>
            
          </wa-tree>
        </div>
        <div class="bottom">
          <wa-switch id="theme-toggle"><wa-icon name="lightbulb"></wa-icon></wa-switch>
        </div>
      </div>
    </div>

    <!-- MAIN CONTENT -->
    <div class="main-content">
      <div class="nav-bar">
        <wa-icon name="bars" class="hamburger-menu" aria-label="Toggle menu"></wa-icon>
      </div>
      <div class="article">
        <main class="container">
          <article id="article-content">
            <h1>Auteur</h1>
<p>Auteur is a simple static site generator, designed to generate a static website from an arbitrary folder structure.
Its main use case is building out documentation from a codebase.</p>
<p>The page you are currently viewing is generated by Auteur.</p>
<p>Auteur is built using:</p>
<ul>
<li><a href="https://golang.org">Go</a></li>
<li><a href="https://webawesome.com">Web Awesome</a></li>
<li><a href="https://htmx.org">HTMX</a></li>
</ul>
<blockquote>
<p>Note: Both Auteur and Webawesome are in their alpha stages, changes are expected</p>
</blockquote>
<h2>Features</h2>
<p>Auteur is basically a minimalistic wiki with:</p>
<ul>
<li>Navigation bar</li>
<li>Dark mode</li>
<li>Code highlighting</li>
<li>Configuration file</li>
<li>Multiple inputs
<ul>
<li>Markdown files</li>
<li>Code comments</li>
</ul>
</li>
</ul>
<h2>Getting Started</h2>
<p>Running Auteur can be done via the go command line tool, it is as simple as running:</p>
<pre><code class="language-sh">go run github.com/patrixr/auteur
</code></pre>
<p>Auteur will look for Markdown files and code comments in the current directory and generate a static website from them.</p>

          </article>
        </main></div>
    </div>
  </body>
</html>
