<!doctype html>
<html>
  <head>
    <title>installation</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/htmx.org@1.9.6"></script>
    <link rel="stylesheet" href="https://early.webawesome.com/webawesome@3.0.0-alpha.9/dist/styles/webawesome.css" />
    <link rel="stylesheet" href="https://early.webawesome.com/webawesome@3.0.0-alpha.9/dist/styles/themes/premium.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
    <link rel="stylesheet" href="/style.css" />
    <script type="module" src="https://early.webawesome.com/webawesome@3.0.0-alpha.9/dist/webawesome.loader.js"></script>
    <script type="module" src="/script.js"></script>
  </head>
  <body>
    <!-- SIDE BAR -->
    <div class="sidebar-overlay">
    </div>
    <div class="sidebar">
      <div class="sidebar-content">
        <div class="top">
          <span class="close-sidebar wa-body-s">
            <wa-icon name="circle-xmark" class="close" aria-label="Close menu"></wa-icon>
            <span>Close</span>
          </span>
          <a class="title"
            href="index"
            hx-get="index.frag"
            hx-target="#article-content"
            hx-push-url="/"
            hx-indicator="#loading-indicator"
          >
            Auteur
            <span class="version">0.0.19</span>
          </a>
          
          <wa-tree>
            
              
            <wa-tree-item>
              
                <a
                  href="/installation"
                  hx-get="/installation.frag"
                  hx-target="#article-content"
                  hx-push-url="/installation"
                  hx-indicator="#loading-indicator"
                >installation</a>
              
            </wa-tree-item>
          
            
              
            <wa-tree-item>
              
                <a
                  href="/getting-started"
                  hx-get="/getting-started.frag"
                  hx-target="#article-content"
                  hx-push-url="/getting-started"
                  hx-indicator="#loading-indicator"
                >getting started</a>
              
            </wa-tree-item>
          
            
              
            <wa-tree-item>
              
                <a
                  href="/installation"
                  hx-get="/installation.frag"
                  hx-target="#article-content"
                  hx-push-url="/installation"
                  hx-indicator="#loading-indicator"
                >installation</a>
              
            </wa-tree-item>
          
            
              
            <wa-tree-item>
              
                <a
                  href="/supported-languages"
                  hx-get="/supported-languages.frag"
                  hx-target="#article-content"
                  hx-push-url="/supported-languages"
                  hx-indicator="#loading-indicator"
                >supported languages</a>
              
            </wa-tree-item>
          
            
            
              <wa-tree-item>
                
                  <wa-icon style="font-size: 0.7em; margin-right: 0.8em;" name="link"></wa-icon>
                
                <a href="https://github.com/patrixr/auteur">Github</a>
              </wa-tree-item>
            
          </wa-tree>
        </div>
        <div class="bottom">
          <wa-switch id="theme-toggle"><wa-icon name="lightbulb"></wa-icon></wa-switch>
        </div>
      </div>
    </div>

    <!-- MAIN CONTENT -->
    <div class="main-content">
      <div class="nav-bar">
        <wa-icon name="bars" class="hamburger-menu" aria-label="Toggle menu"></wa-icon>
      </div>
      <div class="article">
        <main class="container">
          <article id="article-content">
            <h1>Installation</h1>
<h2>Homebrew</h2>
<p>Auteur is available as a Homebrew formula. To install Auteur using Homebrew, run the following commands:</p>
<p>First to set up the tap</p>
<pre><code class="language-bash">brew tap tronica/tap
</code></pre>
<p>And then to install Auteur</p>
<pre><code class="language-bash">brew install auteur
</code></pre>
<p>Auteur should then be available as a command line tool.</p>
<pre><code class="language-bash">auteur
</code></pre>
<h2>Using Go</h2>
<p>To install Auteur using Go, run the following command:</p>
<pre><code class="language-bash">go get github.com/patrixr/auteur
</code></pre>
<p>Alternatively you can also use <code>go run</code> to run Auteur directly from the repository:</p>
<pre><code class="language-bash">go run github.com/patrixr/auteur
</code></pre>

          </article>
        </main></div>
    </div>
  </body>
</html>
