<!doctype html>
<html>
  <head>
    <title>{{.Title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/htmx.org@1.9.6"></script>
    <link rel="stylesheet" href="https://early.webawesome.com/webawesome@3.0.0-alpha.9/dist/styles/webawesome.css" />
    <link rel="stylesheet" href="https://early.webawesome.com/webawesome@3.0.0-alpha.9/dist/styles/themes/premium.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
    <link rel="stylesheet" href="{{ .Webroot }}/style.css" />
    <script type="module" src="https://early.webawesome.com/webawesome@3.0.0-alpha.9/dist/webawesome.loader.js"></script>
    <script type="module" src="{{ .Webroot }}/script.js"></script>
    <script>hljs.highlightAll();</script>
  </head>
  <body>
    <!-- SIDE BAR -->
    <div class="sidebar-overlay">
    </div>
    <div class="sidebar">
      <div class="sidebar-content">
        <div class="top">
          <span class="close-sidebar wa-body-s">
            <wa-icon name="circle-xmark" class="close" aria-label="Close menu"></wa-icon>
            <span>Close</span>
          </span>
          <a class="title"
            href="/index"
            hx-get="/index.frag"
            hx-target="#article-content"
            hx-push-url="/"
            hx-indicator="#loading-indicator"
          >
            {{.Site.Root.Title}}
            <span class="version">{{.Site.Root.Version}}</span>
          </a>
          {{ define "tree-item" }}
            <wa-tree-item>
              {{if .Children}}
                {{if .HasContent }}
                  <a
                    href="{{ .Webroot }}/{{.Href}}/index"
                    hx-get="{{ .Webroot }}/{{.Href}}/index.frag"
                    hx-target="#article-content"
                    hx-push-url="{{ .Webroot }}/{{.Href}}"
                    hx-indicator="#loading-indicator"
                  >{{.Title}}</a>
                {{else}}
                  {{.Title}}
                {{end}}
                {{range .Children}}
                  {{ template "tree-item" . }}
                {{end}}
              {{else}}
                <a
                  href="{{ .Webroot }}/{{.Href}}"
                  hx-get="{{ .Webroot }}/{{.Href}}.frag"
                  hx-target="#article-content"
                  hx-push-url="{{ .Webroot }}/{{.Href}}"
                  hx-indicator="#loading-indicator"
                >{{.Title}}</a>
              {{end}}
            </wa-tree-item>
          {{ end }}
          <wa-tree>
            {{range .Site.Children}}
              {{ template "tree-item" . }}
            {{end}}
            {{range .Site.Root.Links}}
              <wa-tree-item>
                {{if .Icon}}
                  <wa-icon style="font-size: 0.7em; margin-right: 0.8em;" name="{{.Icon}}"></wa-icon>
                {{end}}
                <a href="{{.Href}}">{{.Title}}</a>
              </wa-tree-item>
            {{end}}
          </wa-tree>
        </div>
        <div class="bottom">
          <wa-switch id="theme-toggle"><wa-icon name="lightbulb"></wa-icon></wa-switch>
        </div>
      </div>
    </div>

    <!-- MAIN CONTENT -->
    <div class="main-content">
      <div class="nav-bar">
        <wa-icon name="bars" class="hamburger-menu" aria-label="Toggle menu"></wa-icon>
      </div>
      <div class="article">
        <main class="container">
          <article id="article-content">
            {{.Fragment}}
          </article>
        </main></div>
    </div>
  </body>
  <!-- <body>
    <button class="hamburger-menu" aria-label="Toggle menu">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <line x1="3" y1="12" x2="21" y2="12"></line>
        <line x1="3" y1="6" x2="21" y2="6"></line>
        <line x1="3" y1="18" x2="21" y2="18"></line>
      </svg>
    </button>

    <div class="sidebar-overlay"></div>

    <button id="theme-toggle">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="sun-icon"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <circle cx="12" cy="12" r="5" />
        <line x1="12" y1="1" x2="12" y2="3" />
        <line x1="12" y1="21" x2="12" y2="23" />
        <line x1="4.22" y1="4.22" x2="5.64" y2="5.64" />
        <line x1="18.36" y1="18.36" x2="19.78" y2="19.78" />
        <line x1="1" y1="12" x2="3" y2="12" />
        <line x1="21" y1="12" x2="23" y2="12" />
        <line x1="4.22" y1="19.78" x2="5.64" y2="18.36" />
        <line x1="18.36" y1="5.64" x2="19.78" y2="4.22" />
      </svg>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="moon-icon"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        style="display: none"
      >
        <path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z" />
      </svg>
    </button>

    <div id="loading-indicator" class="htmx-indicator">Loading...</div>

    <div class="sidebar">
      <wa-tree>
        {{range .Site.Children}}
          <wa-tree-item>
            {{.Title}}
            {{if .Children}}
              {{range .Children}}
                <wa-tree-item>
                  {{.Title}}
                  {{if .Children}}
                    {{range .Children}}
                      <wa-tree-item>
                        {{.Title}}
                        {{if .Children}}
                          {{range .Children}}
                            <wa-tree-item>
                              <a
                                href="{{.Href}}"
                                hx-get="{{.Href}}"
                                hx-target="#main-content"
                                hx-push-url="true"
                                hx-indicator="#loading-indicator"
                              >{{.Title}}</a>
                            </wa-tree-item>
                          {{end}}
                        {{else}}
                          <a
                            href="{{.Href}}"
                            hx-get="{{.Href}}"
                            hx-target="#main-content"
                            hx-push-url="true"
                            hx-indicator="#loading-indicator"
                          >{{.Title}}</a>
                        {{end}}
                      </wa-tree-item>
                    {{end}}
                  {{else}}
                    <a
                      href="{{.Href}}"
                      hx-get="{{.Href}}"
                      hx-target="#main-content"
                      hx-push-url="true"
                      hx-indicator="#loading-indicator"
                    >{{.Title}}</a>
                  {{end}}
                </wa-tree-item>
              {{end}}
            {{else}}
              <a
                href="{{.Href}}"
                hx-get="{{.Href}}"
                hx-target="#main-content"
                hx-push-url="true"
                hx-indicator="#loading-indicator"
              >{{.Title}}</a>
            {{end}}
          </wa-tree-item>
        {{end}}
      </wa-tree>
    </div>

    <div class="main-content">
      <main class="container">
        <article id="main-content" class="article">
          {{.Fragment}}
        </article>
      </main>
    </div>

    <script src="script.js"></script>
  </body> -->
</html>
