<!doctype html>
<html>
  <head>
    <title>{{.Title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/htmx.org@1.9.6"></script>
    <link rel="stylesheet" href="https://early.webawesome.com/webawesome@3.0.0-alpha.9/dist/styles/webawesome.css" />
    <link rel="stylesheet" href="https://early.webawesome.com/webawesome@3.0.0-alpha.9/dist/styles/themes/premium.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
    <link rel="stylesheet" href="{{ .Webroot }}/style.css" />
    <script type="module" src="https://early.webawesome.com/webawesome@3.0.0-alpha.9/dist/webawesome.loader.js"></script>
    <script type="module" src="{{ .Webroot }}/script.js"></script>
  </head>
  <body>
    <!-- SIDE BAR -->
    <div class="sidebar-overlay">
    </div>
    <div class="sidebar">
      <div class="sidebar-content">
        <div class="top">
          <span class="close-sidebar wa-body-s">
            <wa-icon name="circle-xmark" class="close" aria-label="Close menu"></wa-icon>
            <span>Close</span>
          </span>
          <a class="title"
            href="{{ Join .Webroot "index" }}"
            hx-get="{{ Join .Webroot "index.frag" }}"
            hx-target="#article-content"
            hx-push-url="{{ Join .Webroot "/" }}"
            hx-indicator="#loading-indicator"
          >
            {{.Site.Root.Title}}
            <span class="version">{{.Site.Root.Version}}</span>
          </a>
          {{ define "tree-item" }}
            <wa-tree-item>
              {{if .Children}}
                {{if .HasContent }}
                  <a
                    href="{{ Join .Webroot .Href "index" }}"
                    hx-get="{{ Join .Webroot .Href "index.frag" }}"
                    hx-target="#article-content"
                    hx-push-url="{{ Join .Webroot .Href "index" }}"
                    hx-indicator="#loading-indicator"
                  >{{.Title}}</a>
                {{else}}
                  {{.Title}}
                {{end}}
                {{range .Children}}
                  {{ template "tree-item" . }}
                {{end}}
              {{else}}
                <a
                  href="{{ Join .Webroot .Href }}"
                  hx-get="{{ Join .Webroot .Href }}.frag"
                  hx-target="#article-content"
                  hx-push-url="{{ Join .Webroot .Href }}"
                  hx-indicator="#loading-indicator"
                >{{.Title}}</a>
              {{end}}
            </wa-tree-item>
          {{ end }}
          <wa-tree>
            {{range .Site.Children}}
              {{ template "tree-item" . }}
            {{end}}
            {{range .Site.Root.Links}}
              <wa-tree-item>
                {{if .Icon}}
                  <wa-icon style="font-size: 0.7em; margin-right: 0.8em;" name="{{.Icon}}"></wa-icon>
                {{end}}
                <a href="{{.Href}}">{{.Title}}</a>
              </wa-tree-item>
            {{end}}
          </wa-tree>
        </div>
        <div class="bottom">
          <wa-switch id="theme-toggle"><wa-icon name="lightbulb"></wa-icon></wa-switch>
        </div>
      </div>
    </div>

    <!-- MAIN CONTENT -->
    <div class="main-content">
      <div class="nav-bar">
        <wa-icon name="bars" class="hamburger-menu" aria-label="Toggle menu"></wa-icon>
      </div>
      <div class="article">
        <main class="container">
          <article id="article-content">
            {{.Fragment}}
          </article>
        </main></div>
    </div>
  </body>
</html>
